body {
    margin: 0;
    background-image: url("../Bilder/skrapbladet-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;       
    margin: 0;
    min-height: 200vh;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;

}

p {
   color: white;
   text-align: center;

}
