body {
      font-family: 'UnifrakturMaguntia';
      background-color:black;
      color: aqua;
      text-align: center;
     }



h1   {
      font-family: 'UnifrakturMaguntia';
      font-size: 85px;
      text-shadow:0 0 9px;
      margin: 60px 0;
     }

h2   {
      font-size: 40px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 10px;
      padding: 20px;
      text-shadow: 0 0 9px aqua;
     }

h3   {
      font-size: 25px;
      font-family: 'UnifrakturMaguntia';
      margin: 50px;
      text-shadow: 0 0 9px aqua;
}

p    {
      color: purple;
      font-size: 20px;
      text-shadow: 0 0 9px;
      font-family: 'Times New Roman';
     }

a    {
      color: rgba( 175 0 255 / 100% );
      font-size: xx-large;
      text-shadow: 0 0 9px;
      display: block;
      margin: 1px 0;
      padding: 5px;
      text-decoration: none;
      font-family: 'Times New Roman';
     }

nav {
     color: rgba( 175 0 255 / 100% );
      font-size: xx-large;
      text-shadow: 0 0 9px;
      display: block;
      border: 1px solid purple;
      border-radius: 20px;
      padding: 1px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 300px;
      margin: 0 auto;
}

footer {
      color: rgba( 255 0 255 / 100% );
      position: fixed;
      font-family: 'Times New Roamn';
      bottom: 0;
      left: 0;
      width: 100%;
      }

